﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeaBattle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeaBattle.styles.css" asp-append-version="true" />
</head>
<body>
    <header>        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark new_game" onclick="newGame()" title="Новая игра"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark put_ships" onclick="putShips()" title="Расставить корабли"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark save" onclick="saveGame()" title="Сохранить"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark autoplay" onclick="autoPlay()" title="Автоигра"></a>
                </li>                
            </ul>
            <h1>Морской бой</h1>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NavalCombat - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>