html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#battlefield{display:flex; justify-content:center;}

td {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
}

    td.header {
        background: #beeaff /*#0001ac */;
        /*color:white;*/
    }

#field1 td.H {
    background:none;
}

#battlefield.over #field1 td.H {
    background: blue;
}

#battlefield.complete #field1 td {
    cursor: url(aim.svg) 16 16, auto;
}

#battlefield.over #field1 td {
    cursor: initial;
}

#battlefield.started .put_ships {
    color:silver;
    cursor:default;
}

td.H {
    background: blue;
}

td.I {
    background: url(injured.svg) center center no-repeat;
    transition: background 1s
}

td.B {
    background: url(missing.svg) center center no-repeat;
}

td.K {
    background-color: red;
    transition: background-color 1s
}

.field_wrapper {
    border: 0px solid;
    border-color:none;
}

.field_wrapper.winner {
    border-color: red;
}

#w0 {
    padding-right: 20px;
}

#status {
    color:initial;
    font-size:2em;
    margin:20px 0px;
}

#status.winner {
    color: #54cd00;
}

#status.looser {
    color: red;
}

.navbar-nav{
    display:flex;
    margin-left:30px;
}

h1{
    margin-right:30px;  
}

a.new_game {
    background-image: url('new.svg');
    background-size: 75% !important;
    background-position: 0px 1px;
}

a.save {
    background-image: url('save.svg');
    background-size: 99% !important;
    background-position:0px -3px ;
}

a.autoplay {
    background-image: url('play.svg');
    background-size: 94% !important;
    background-position: 0px -2px;
}

a.put_ships {
    background-image: url('ship.svg');
}

a.nav-link {
    width: 36px;
    height: 36px;
    margin-right: 7px;
    cursor: pointer;
    background-size:80%;
    background-repeat:no-repeat;
}

header {
}

footer{
    display:none;
}