@page
@using NavalCombat;
@model IndexModel
@{
    ViewData["Title"] = "Морской бой";
}

@Html.AntiForgeryToken()

<div class="text-center">
    <div id="status" class="@(Model.TheGame.Winner == null ? "" : (Model.TheGame.Winner == 0 ? "winner" : "looser"))">
        @(
            !Model.TheGame.MyField.Complete ? "Расставьте корабли" : (Model.TheGame.Winner == null ? "Сделайте выстрел" : (Model.TheGame.Winner == 0 ? "Вы выиграли!" : "Вы проиграли!"))
        )
    </div>
    <div id="battlefield" class="@(Model.TheGame.MyField.Complete ? "complete" : "")">
        <div id="w0" class="field_wrapper">
            <h4>Вы</h4>
            @Html.Raw(Model.TheGame.MyField.ToHtml("field0"))
        </div>
        <div id="w1" class="field_wrapper">
            <h4>Соперник</h4>
            @Html.Raw(Model.TheGame.FoeField.ToHtml("field1"))
        </div>
    </div>
</div>
